name: Pull-subtrees

on:
  push:
  pull_request:
  schedule:
    30 10 * * 0-6


jobs:
  pull-subtrees:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
          fetch-depth: 0
    - uses: julia-actions/setup-julia@v1
      with:
        version: 1.3

    - name: Call the julia script
      run: julia -e 'using Pkg; Pkg.add("JSON"); include("pull-subtrees.jl")'
